@charset "utf-8";
/* @media screen and (max-width : 1665px) {
    .main-inner-adbox{
        display: none;
    }
}
@media screen and (max-width : 1312px) {
    .main-inner-adbox{
        display: none;
    }
    .header-top, .header-inbox{
        max-width: 80%;
        transform: translateX(-62px);
    }
} */
@media screen and (max-width : 1250px) {

}