@charset "utf-8";
@media screen and (max-width : 1665px) {
    .main-inner-adbox{
        display: none;
    }
}
@media screen and (max-width : 1250px) {
    .main-inner-adbox,
    .mini-mypage,
    .banner-ad,
    .header-ad{
        display: none;
    }
    .header-top, .header-inbox{
        max-width: 80%;
        transform: translateX(-62px);
    }
    .section{
        height: 300px;
    }

    /* 메인광고 */
    .main-ad-box{
        max-width: 800px;
    }
    .section-ad-banner img{
        max-width: 800px;
        height: auto;
    }
    /* nav */
    .move-to-exhibition{
        max-width: 700px;
    }
    .move-to-exhibition ul{
        flex-wrap: wrap;
        max-width: 800px;
        /* outline: 1px solid red; */
        
    }
    .move-to-exhibition ul li{
        flex-basis: calc(100% / 3 - 30px * 2);
        font-size: min(15vh,40px);
    }
    .move-to-exhibition ul li img{
        transform: scale(1.25);
    }

    /* 사자버튼 */
    .saja-event-nav-wrap nav ul li button{
        font-size: 1.5vw;
    }
    .saja-items-div{
        flex-wrap: wrap;
        max-width: 970px;
        /* outline: 1px solid red; */
    }

    .saja-item-box{
        margin: 0;
    }

    .saja-item-exp-name p{
        font-size: 1.2vw;
    }

    /* 쇼핑큐레이션 */
    .shopping-curation nav ul li button{
        font-size: 1.5vw;
    }

    /* footer */
    .company-introduce-wrap{
        display: none;
    }
    .footer-content{
        height: 350px;
    }

    .footer-content{
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-content-right-wrap{
        position: absolute;
        left: 100%;
    }
    .footer-logo{
        display: none;
    }

}

@media screen and (max-width : 975px) {
    .section{
        display: none;
    }
    .header{
        /* margin: 0 auto; */
        width: 100%;
        
    }
    body >* {
        outline: 1px solid blue;
    }
    .header-wrap{
        max-width: 500px;
        text-align: center;
    }
    /* 헤더 */
    .header-top{
        flex-wrap: wrap;
        
        position: relative;
        /* text-align: center; */
    }
    .customer-icon{
        flex-wrap: wrap;
    }
    .homeplus-logo img{
        width: 180px;
        height: auto;
        text-align: center;
    }
    .search-bar input{
        display: none;
    }
    .customer-icon{
        /* flex-wrap: wrap; */
        width: 280px;
    }
    .customer-icon button{
        position: absolute;
        top: 0;
        transform: scale(0.95);
        outline: 1px solid red;

    }
    .customer-icon button:first-child{
        left: 65%;
    }
    .customer-icon button:nth-child(2){
        left: 75%;
    }
    .customer-icon button:last-child{
        position: absolute;
        top: 0;
        left: 85%;
    }
    
}
