@charset "utf-8";
@media screen and (max-width : 1665px) {
    body{
        overflow-x: hidden;
    }
    body > *{
        margin: 0;
        padding: 0;
    }
    .main-inner-adbox{
        display: none;
    }
}
@media screen and (max-width : 1250px) {
    .main-inner-adbox,
    .mini-mypage,
    .banner-ad,
    .header-ad{
        display: none;
    }
    .section{
        height: 300px;
    }

    /* 메인광고 */
    .main-ad-box{
        /* max-width: 800px; */
        margin: 0 auto;
    }
    .section-ad-banner img{
        /* max-width: 800px; */
        /* height: auto; */
        margin: 0 auto;
    }
    /* nav */
    .move-to-exhibition{
        /* max-width: 700px; */
    }
    .move-to-exhibition ul{
        flex-wrap: wrap;
        justify-content: start !important;
        /* max-width: 800px; */
        /* outline: 1px solid red; */
        
    }
    .move-to-exhibition ul li{
        /* flex-basis: calc(100% / 3 - 30px * 2); */
        /* width: 20%; */
        font-size: min(15vh,40px);
    }
    .move-to-exhibition ul li img{
        /* transform: scale(1.25); */
    }

    /* 사자버튼 */
    .saja-event-nav-wrap nav ul li button{
        font-size: 1.5vw;
    }
    .saja-items-div{
        /* flex-wrap: wrap; */
        /* max-width: 970px; */
        /* max-width: 100%; */
        /* outline: 1px solid red; */
    }

    .saja-item-box{
        margin: 0;
        /* width: 45%; */
    }

    .saja-item-exp-name p{
        font-size: 1.2vw;
    }

    /* 쇼핑큐레이션 */
    .shopping-curation nav ul li button{
        font-size: 1.5vw;
    }

    /* footer */

    .footer-content{
        /* height: 350px; */
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-content-left{
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-content-right{
        padding: 0;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-content-left>h2{
        max-width: 100%;
    }

    .footer-r-content3{
        margin-top: 0;
    }
    .footer-r-content4{
        margin-top: 0;
    }
    .footer-r-content4{
        margin-top: 0;
    }
    .footer-r-content5{
        margin-top: 0;
    }
}

@media screen and (max-width : 1020px) {
    .company-introduce-wrap{
        display: none;
    }
}
@media screen and (max-width : 1000px) {
    .saja-item-box{
        max-width: 50%;
    }
    .header-wrap{
        display: none;
    }
    .move-to-exhibition{
        padding: 0;
    }
}

@media screen and (max-width : 830px) {
    .saja-item-box{
        max-width: 100%;
    }
    .footer-logo-wrap ul{
        display: none;
    }
    .saja-item-box{
        width: 80%;
        
    }
}

@media screen and (max-width : 650px) {
    .move-to-exhibition{
        padding: 0;
    }
    .saja-item-img section img{
        width: 40px;
        height: 40px;
    }
    .saja-item-box{
        width: 100%;
        margin: 0 auto;
    }
}

