/* 햄버거 버튼 */
.hambtn-wrap {
    width: 100%;
    display: none;
}

.hambtn-wrap img {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    width: 120px;
}

.hambtn {
    /* width: 50%; */
    height: 40px;
    padding: 5px 0;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    background-color: #fff;
}

.hambtn button {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.hambtn button span {
    width: 40px;
    height: 8px;
    background-color: hotpink;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hambtn button span:first-child {
    top: 0;
    position: absolute;
    transition: .2s ease-out;
}

.hambtn button span:nth-child(2) {
    left: 35%;
    top: calc(50% - 4px);
    position: absolute;
    transition: .2s ease-out;
}

.hambtn button span:last-child {
    bottom: 0%;
    position: absolute;
    transition: .2s ease-out;
}

.hambtn button:hover span:nth-child(2) {
    left: 50%;
}

/* 햄버거버튼 - 클릭시 네브 보임 */
.hambtn-wrap {
    width : 320px !important;
    height: 500px !important;
    position: fixed;
    top: 0;
    right: -110%;
    background-color: #fff;
    z-index: 99999;
    transition: .4s ease-out;
    border-bottom-left-radius: 15px;
}

.hambtn-wrap.on {
    right: 0;
}

.hambtn-wrap li {
    margin-top: 30px;
    text-align: center;
}

.hambtn-wrap li a {
    font-family: 'Gugi';
    font-size: 1.2rem;
}

li::marker {
    display: none;
}

/* 햄버거버튼 클릭시 */
.hambtn button.click span:nth-child(2) {
    display: none;
}

.hambtn button.click span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 4px);
    left: 4px;
}

.hambtn button.click span:last-child {
    transform: rotate(45deg);
    top: calc(50% - 4px);
    left: 4px;
}

.hambtn-wrap img {
    cursor: pointer;
}