
@media screen and (max-width:1150px) {
    .sns-bx1{
        width: 30%;
    }
}
@media screen and (max-width:1100px) {
    .main2-icon-bx section p{
        display: none;
    }
    .sns-bx-wrap{
        position: static;
    }
    /* sns1 */
    .sns-bx1 {
        width: 100%;
        position: static;
        text-align: center;
    }
    .sns-bx1>div {
        position: static;
        transform: translateY(0);
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .sns-bx1>div>img {
        margin: 0 15px;
    }
    .sns-bx1>div::before {
        content: 'ETUDE Official';
        position: static;
        transform: rotate(00deg);
    }
    /* sns2 */
    .sns-bx2 {
        width: 100%;
        position: static;
        display: flex;
        justify-content: space-between;
    }
    .pink-bg {
        position: static;
    }
    .sns2-swipe-wrap {
        position: static;
    }
    .sns-bx2-swipe-container{
        position: static;
        /* float: right; */
    }
    .pink-bg::after {
        position: static;
        width: 250px;
        height: 400px;
    }
}

@media screen and (max-width:900px) {
    .main2-icon-bx .view-more {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .main2-icon-bx>div{
        display: flex;
        align-items: center;
    }
    .main2-icon-img{
        margin-right: 10px;
    }
    .main-img-bx{
        margin: 20px auto;
    }
    .main-img-bx {
        max-width: 42vw;
    }
    .main2-icon-bx{
        top: 0%;
    }

}
@media screen and (max-width:620px) {
    /* sns1 */
    .sns-bx1 {
        padding-left: 0;
    }
    .sns-bx1>div::before {
        width: 100%;
        text-align: center;
    }
    /* sns2 */
    .pink-bg::after {
        display: none;
    }
    .sns-bx2-swipe-container{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .main-img-bx {
        margin: 10px auto;
    }
    .main2-icon-bx section h2 {
        font-size: 1.2rem;
        margin: 5px 0;
    }
    .main2-icon-img>img {
        width: 18px;
    }
}