/* 스토어 - 메인 */
.store-main-wrap{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    justify-content: space-evenly;
}

/* 스토어 - 메인 - 왼쪽 */
.store-main-left{
    width: 15%;
}
.store-main-left h1{
    margin-bottom: 10px;
    padding: 5px 10px;
}
.mebership-select-bx{
    width: 100%;
    padding: 5px 10px;
}
.mebership-select-bx button{
    border: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-family: 'Jua';
    font-size: 1rem;
    border: 1px solid gray;
    background-color: #fff;
    cursor: pointer;
}

.mebership-select-bx button span{
    color: #555;
    display: block;
}

/* 버튼 클릭시  */
.mebership-select-bx button.on{
    background-color: gainsboro;
}
.mebership-select-bx button.on span{
    color: #000;
}


.mebership-select-bx button:last-child{
    border-top: 0;
}
/* 스토어 - 메인 - 오른쪽 */
.store-main-right{
    width: 70%;
}
.store-main-right h2{
    font-size: 1.5rem;
}
.store-title{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #555;
    padding: 35px 0 20px;
}
.store-title>*{
    padding: 15px;
}
.store-title h1{
    font-size: 2rem;
    color: #272c97;
    font-weight: bold;
}

/* 스토어 - 컨텐츠 박스 */
.store-content{
    background-color: #fdf9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
    margin: 50px 0 ;
    overflow: hidden;
}
.store-img{
    margin-right: 15px;
}
.store-content-bx{
    width: 35%;
    text-align: center;
    display: flex;
    margin: 20px 10px;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: .4s ease-in-out;
}
.store-content-bx.on{
    opacity: 1;
    transform: translateY(0%);
}
.store-content p{
    text-align: left;
}
.store-content p:first-child{
    font-size: 1.3rem;
    font-family: 'Jua';
    margin-bottom: 10px;
}
.store-content p:last-child{
    color: gray;
}

/* store- 공지 */
.store-notice{
    margin-top: 20px;
    max-width: 100%;
    padding: 26px 40px;
    background-color: #fafafa;
    overflow: hidden;
}

.store-notice-bx{
    width: 75%;
    margin-left: auto;
    opacity: 0;
    transition: 1s ease-out;
    transform: translateY(100%);
}

.store-notice-bx.on{
    opacity: 1;
    transform: translateY(0);
}

.store-notice-bx h3{
    margin: 15px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.store-notice-bx h3 span{
    margin-right: 7px;
}


.store-notice-cont li{
    list-style: circle;
    line-height: 1.5;
    font-size: 0.85rem;
    margin: 5px 0;
}