.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper3{
    padding: 20px;
}

.area-swiper-img{
    max-width: 500px;
    aspect-ratio: 1.5/1;
    /* overflow: hidden; */
}
.area-swiper-img img{
    max-width: 100%;
    aspect-ratio: 1.5/1;
    display: block;
}

.area-swiper-bx h1{
    font-size: 2rem;
    margin: 10px 0 20px;
    font-family: 'Jua';
}

.img-hi{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.442);
}
/* 이미지 호버시 */
.area-swiper-img>img:hover .img-hi{
    transform: translateY(-100%);
}