.board-wrap{
    max-width: 1280px;
    margin: 150px auto 100px;
}
.board-wrap .selbx{
    display: flex;
    justify-content: center;
    width: 320px;
    height: 40px;
    margin: 15px auto;
}
#cta{
    width: 50px;

}
#sel{
    width: 90px;
    font-family: 'Nanum Gothic';
    font-size: 12px;
    margin: 0 5px;
}
#stxt{
    margin-right: 5px;
    width: 130px;
}
.dtbl{
    width: 100%;  
}
.dtbl ul{
    display: flex;
}

.board-cont-wrap{
    width: 100%;
}

.board-cont-wrap ul{
    display: flex;
}

.board-cont-wrap ul li{
    width: 18%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}

.board-cont-wrap ul li:nth-child(2){
    width: 30%;
}

.dtbl ul li{
    width: 18%;
    text-align: center;
    padding: 12px 0;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
}
.dtbl ul li:nth-child(2){
    width: 30%;
}

.center-paging-link{
    text-align: center;
    margin: 15px 0;
}