/* 광고 */
.goods_ad_wrap{
    max-width: 100%;
    margin-top: 30px;
}
.goods_ad_bx{
    max-width: 100%;
    background-color: whitesmoke;
    /* border-bottom: 5px solid gainsboro;
    border-top: 5px solid gainsboro; */
}

.goods_ad{
    max-width: 900px;
    margin: 0 auto;
}

.goods_tit{
    font-family: 'Gugi';
    font-size: 2rem;
    padding: 10px;
}

.goods_ad_cont{
    display: flex;
}
.goods_ad_cont>div{
    flex: 1;
    padding: 20px;
}


.goods_img_logo>img{
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
}

.goods_location{
    font-size: 1.5rem;
    font-family: 'Jua';
    padding: 10px;
    /* background-color: aliceblue; */
    border-radius: 20px;
    text-align: center;
    display: block;
    color: #fff;
}

.goods_product{
    font-size: 1.2rem;
    font-family: 'Jua';
    padding: 10px;
    display: block;
}

.goods_sub_cont{
    padding: 20px;
    margin-top: 10px;
}

.goods_cont{
    font-size: 1.2rem;
    font-family: 'Jua';
    padding: 10px;
}


/* 숍의 위치 */
.goods_shop_map{
    max-width: 800px;
    margin: 30px auto 70px;
}
.goods_shop_map>h1{
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Gugi';
    font-size: 2rem;
}
.shop_map{
    max-width: 100%;
    border-radius: 20px;
}
.shop_map>img{
    border-radius: 20px;
    border: 2px solid #ccc;
    width: 100%;
}