.goods_wrap{
    max-width: 100%;
    margin: 0 auto;
}

/* 굿즈 상단 wrpa - 배너부분 */
.goods-top-cont-wrap{
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}

/* 굿즈 메뉴 */
.goods_menu{
    max-width: 1300px;
    margin: 0 auto;
}
.goods_menu ul{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-family: 'Jua';
}
/* 굿즈메뉴 -nav 글자 사이즈 */
.goods_menu ul li{
    font-size: 2em;
}

/* 굿즈 개별 박스 wrap */
.goods_bx_wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;
}
/* 굿즈 개별*/
.goods_bx{
    width: calc((1300px - 40px) / 3);
    margin-right: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #ccc;
}
/* 굿즈 개별 -이미지박스 */
.goods_img{
    width: 100%;
    border-radius: 20px;
}
.goods_img>img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

/* 굿즈 개별 - 컨텐츠 (내용) */
.goods_content{
    padding: 20px;
    text-align: center;
}
.goods_content>span{
    padding: 5px;
    /* outline: 1px solid red; */
    font-family: 'Nanum Gothic';
}
.goods_store{
    display: block;
    font-size: 2em;
    color: #000000c7;
    font-family: 'Jua' !important;
}
.goods_title{
    font-size: 1.5em;
    display: inline-block;
    background-color: #12418b;
    /* width: 100%; */
    color: whitesmoke;
}
.goods_usage{
    display: block;
    font-size: 14px;
    color: #000;
}
.goods_content{
    display: block;
    font-size: 12px;
    color: #000000a4;
    
}
/* 굿즈 - 상품 주의사항 */
.goods_caution_wrap{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    /* padding: 20px 0; */
    margin-top: 30px;
    gap: 10px;
    /* outline: 1px solid red; */
}
.goods_caution_img{
    /* outline: 1px solid red; */
    width: 35%;
}
.goods_caution_img>img{
    /* outline: 1px solid red; */
    width: 100%;
}
.goods_caution_content{
    /* outline: 1px solid red; */
    width:60%;
    padding: 10px;
}
.goods_caution_content>p{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    line-height: 1.8;
}


/* 클릭시 버튼 색 바꾸기 */

.red-text {
    color: red !important;
}

.black-text {
    color: black !important;
}