@charset "utf-8";

body {
    /* background:url(../images/Rectbleu.png) repeat-y; */
    /* background:url(https://cdn.pixabay.com/photo/2017/07/08/11/36/cube-background-2484131_1280.jpg) repeat; */
    /* background:url(https://cdn.pixabay.com/photo/2015/01/26/17/29/wall-612926_1280.jpg) repeat; */
    overflow-x: hidden;
}

body * {
    /* outline: 1px solid red; */
}

/* 로딩 페이지 */
.loading-page {
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    /* font-size: 2.5rem;
    font-weight: bold; */
    opacity: 0;
}

.load-text {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    opacity: 0; /* 초기에는 투명하게 설정 */
    animation: fadeIn 2s alternate infinite; /* 애니메이션 적용 */
    font-family: 'Black Han Sans';
}

.visible {
    display: flex; /* display 속성 변경 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 글자 나타나는 효과 설정 */
.loading-page span {
    animation: fadeIn 0.5s ease-in-out;
}

/* 헤더 */
.page{
    /* height: 100vh; */
}

.header {
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 58px );
}

.page-header {
    height: 170px;
}

.header-img {
    width: 100%;
}

a {
    color: #000;
}


/* 헤더 nav */
.main-logo {
    width: 13vw;
    height: 8vw;
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
}

.main-logo img {
    width: 100%;
    height: 100%;
    animation: logo-ani .8s linear infinite;
}

@keyframes logo-ani {
    from {
        transform: rotate(15deg);
    }

    to {
        transform: rotate(-15deg);
    }
}


/* 헤더 이미지 랩핑 */
.header-img-wrap {
    width: 100%;
    position: relative;
    height: calc(100vh - 58px);
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: #000000e7;
}

.header-main-img-wrap {
    height: calc(100vh - 58px);
    transform: translate(0%, -50%);
    opacity: 0;
    transition: .4s ease-out;
}

.header-main-img-wrap.on {
    transform: translate(0, 0);
    opacity: 1;
}

.header-main-img {
    display: block;
    background-image:
        linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        linear-gradient(rgba(0, 18, 70, .5), rgba(0, 18, 70, .5)),
        url(../../public/images/main.webp);
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 58px);
    margin: 0 auto;
}

/* in japn universal studio 문구 */
.header-content {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    /* background: #00000069; */
    padding: 22px;
}

.header-content>span,
.span_wave {
    /* position: absolute; */
    display: block;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    color: #fff;
    font-family: 'Gugi';
    text-align: center;
    margin-top: 50px;
}
.span_wave>span{
    font-family: 'Gugi';
}


.header-content>span:first-of-type {
    font-size: 2.5vw;
    top: 25%;
    text-align: center;
}

.span_wave>span {
    font-size: 5vw;
    text-align: center;
    display: inline-block;
    position: relative;
    animation: wave_textup 1.5s infinite;
}

@keyframes wave_textup {
    0% {
        top: 0;
    }

    15% {
        top: 0
    }

    30% {
        top: -0.35rem;
    }

    45% {
        top: 0
    }

    60% {
        top: 0
    }

    75% {
        top: 0
    }

    90% {
        top: 0
    }

    100% {
        top: 0
    }
}

.header-content>span:last-of-type::after {
    content: '';
    display: block;
    margin-top: 20px;
    width: 50vw;
    height: 2px;
    background-color: #b69f8f;
}

.universal_link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease-out;
    box-sizing: border-box;
    border: 3px solid #fff;
}

.universal_link a {
    font-size: 2vw;
    color: #193175;
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Gowun Batang', serif;
    font-weight: 600;
}

.universal_link:hover {
    background-color: #193175;
}

.universal_link:hover a {
    color: #fff;
}

/* 헤더 - sns계정 */
.universal_sns {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 1%;
    width: 4vw;
    height: 35vh;
    background-color: #ebe3de;
    border-radius: 30px;
    border: 8px solid #fff;
}

.universal_sns:hover {
    border: 8px solid #000;
}

.universal_sns>div {
    height: calc(100%/4);
}

.universal_sns .fa-brands {
    font-size: 3vw;
    display: block;
    text-align: center;
    line-height: 1.5;

}

.fa-square-instagram:hover {
    color: #ce4c68;
}

.fa-square-facebook:hover {
    color: #1878f3;
}

.fa-square-twitter:hover {
    color: skyblue;
}

.fa-youtube:hover {
    color: #fe0000;
}

/* 메인1 */
/* 메인1 - 유틸리티 패널*/
.utility-panel {
    display: flex;
    border-top: 5px solid #2b4584;
    border-bottom: 5px solid #2b4584;
    margin: 0.8% 0;
    background-color: #fff;
    margin-bottom: 120px;
}

.utility-panel>a>div {
    padding: 20px;
    transition: .4s;
    position: relative;
}

.utility-panel>a {
    flex: 1;
    text-align: center;
    overflow: hidden;
    display: block;
    position: relative;
}

.utility-panel>a>div>span,
.panel-icon {
    display: block;
    color: #2b4584;
    transition: .4s;
}

.panel-icon {
    font-size: 5em;
    padding-bottom: 10px;
    margin: auto;
}

.utility-panel>a>div>span:last-of-type {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.utility-panel>a:hover div {
    background-color: #2b4584;
    animation: utility-panel-ani .65s ease;
}

.utility-panel>a:hover span,
.utility-panel>a:hover .panel-icon {
    color: #fff;
    animation: utility-panel-ani .35s ease;
}

@keyframes utility-panel-ani {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0%);
    }
}


.utility-panel2 {
    margin: 0;
    border: 0px;
}

/* 메인1 - 움직이는 로고  */
.main1 {
    width: 100%;
    /* height: 100vh; */
}


/* 메인2 */
/* 유니버셜 스튜디오 소개 개요 */
/* .main2{
    width: 100%;
}

.main2>h2{
    text-align: center;
    font-size: 3vw;
    padding: 20px;
    font-family: 'Gugi', cursive;
    background-color: #ebe3de;
}
.universal_explanation_index{
    max-width: 1200px;
    margin: 0 auto;
    border: 8px solid #fff;
    
}
.universal_explanation_wrap{
    display: flex;
    justify-content: space-around;
}
.universal_explanation_wrap>img, .universal_explanation_wrap>span{
    display: block;
    width: 50%;
    height: 430px;
} */
/* .universal_explanation_wrap>span{
    background-color: #fff;
} */

/* //////////////////////////////////////// */
/* 픽업 */
.pick-up {
    width: 100%;
    /* background:url(../images/gingham-2227349_1920.jpg); */
    /* background-color: rgb(251 249 246); */
    /* background-color: ; */

    /* 
    */
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden;
}
.pick-up>h1{
    font-size: 5em;
    font-family: 'Gugi';
}

.pick-up-wrap {
    /* max-width: 100%; */
    margin: 0 auto;
    /* outline: 1px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: start; */

    /*  */
    position: absolute;
    height: 365px;
}

/* 180회전 박스 */
.pick-up-img-box {
    width: 450px;
    height: 400px;
    position: relative;
    perspective: 1500px;
    margin: 1%;
    /* background-color: #fff; */
    /* border: 1px solid #ccc; */
}

.pick-up-img {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.pick1,
.pick2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    display: block;
    transform: rotateY(0deg);
    transition: transform 0.5s;
    text-align: center;
}

.pick2 {
    transform: rotateY(180deg);
    font-size: 8em;
    color: #ccc;
}
.pick2 p{
    font-size: 1.5rem;
    margin-top: 50px;
    color: rgb(152 152 152);;
}

.pick1>img,
.pick2>img {
    display: block;
    width: 100%;
    aspect-ratio: 16/12;
    border-radius: 20px;
}

.pick-up-img-box.on .pick1 {
    transform: rotateY(180deg);
}

.pick-up-img-box.on .pick2 {
    transform: rotateY(0deg);
}


/* ////////////////////////////////////// */
.page {
    /* height: 100vh; */
}

/* page2 */
/* .page2{
    position: relative;
    height: 100vh;
    outline: 1px solid red;
}
.page2>div{
    position: absolute;
    font-size: 8em;
    left: 5%;
}
.faEarthAsia{
    top: 20%;
}
.faEarthEurope{
    top:40%
}
.faEarthAfrica{
    top: 60%;

}
.faGlobe{
    top: 80%;
    color: blue;
} */
/* page3 */
/* page2 */
.page2{
    color: #fff;
    padding-bottom: 150px;
    margin: 200px 0;
    background-color: #000;
}
.page2>h1{
    font-size: 3.5em;
}

.page2-light{
}

.page2-light{
    padding: 100px;
    display: block;
    font-size: 7em;
    /* transform: rotate(180deg); */
}

.main-character1{
    padding: 100px;
    margin: 0 auto;
    width: 50vw;
}
.main-character1>img{
    width: 100%;
    margin: 0 auto;
}

.main-character2{
    width: 20vw;
}
.main-character2>img{
    width: 100%;
    margin: 0 100px;
}
.page2-cont{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}
.page2-cont>div{
    padding: 0 25px;
}

.page2-cont h1{
    font-size: 8em;
    margin: 70px 20px 20px;
    text-align: center;
}
.page2-cont h2{
    font-size: 2.5em;
    /* padding: 10px; */
    text-align: center;
    margin-bottom: 10px;
}

.page2-cont h2::after {
    content: ''; /* 가상 요소를 생성하기 위한 content 속성 추가 */
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 5px; /* 밑줄의 높이 조절 */
    background-color: yellow; /* 밑줄의 색상 지정 */
    margin-top: 5px; /* 밑줄과 텍스트 사이의 간격 조절 */
}
.page2-cont h3{
    font-size: 1.8em;
    /* padding: 10px; */
    text-align: center;
    margin-bottom: 30px;
}
.page2-cont p{
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5;
}

/* page5 */
.page5{
    max-width: 100%;
}

/* page-footer */
.page-footer{
    max-width: 100%;
}

/* page2-map */
.main-map{
    display: none;
}


/* 메인3 */
.main3 {
    width: 100%;
}

/* 움직이는 로고애니 */
.logo-move-wrap {
    /* background: url(../images/Rectbleu.png); */
    cursor: pointer;
}

.logo-span-move-wrap {
    width: 100vw;
}

.span-move2 {
    top: 12vh;
}

.logo-span-wrap {
    position: relative;
    left: 0;
    width: 330%;
    display: flex;
}

.span-move2 .logo-span-wrap {
    left: -165%;
}

.logo-span-wrap ul {
    flex: 1;
    display: flex;
    list-style: none;
}

.logo-span-wrap li {
    flex: 1;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(43 69 132);
    text-shadow: 2px 2px 3px #fff;
    font-size: 4vw;
    font-family: 'Jua', sans-serif;
    font-weight: 900;
}

.logo-span-wrap li span {
    display: block;
}

.logo-span-wrap li:nth-child(2n) {
    -webkit-text-stroke-color: orangered;
}

.logo-span-ani {
    animation: text-span-ani 30s linear infinite;
}

.logo-span-ani2 {
    animation: text-span-ani2 30s linear infinite;
}

.logo-span-ani:hover,
.logo-span-ani2:hover {
    animation-play-state: paused;
}

@keyframes text-span-ani {
    to {
        left: -165%;
    }
}

@keyframes text-span-ani2 {
    to {
        left: 0%;
    }
}

/* 여행사 */
.travel_agency_wrap {
    max-width: 100%;
    background-color: #232025;
    color: whitesmoke;
    padding-top: 30px;
}

.tarvel_agency {
    width: 90%;
    margin: 0 auto;
    background-color: slategray;
    border-radius: 40px;
}

.travel_agency_wrap ul {
    display: flex;
    flex-wrap: wrap;
}

.travel_agency_wrap ul li {
    flex: 1;
}

.travel_agency_wrap ul li img {
    width: 15vw;
    height: 13vh;
    display: block;
}

/* 하단 footer */
.footer {
    max-width: 100%;
    background-color: #232025;
    height: 370px;
    position: relative;
}

.footer-wrap {
    color: #fff;
    width: 95%;
    margin: 0 auto;
}

.footer-wrap-top {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.footer-left {
    font-size: min(56px, 5rem);
    color: #fff;
    text-shadow: 2px 2px #2b4584;
}

.footer-right {
    transform: rotate(5deg);
}

.footer-right>img {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 13vw;
    display: block;
    animation: footer-ani 5s linear infinite alternate;
}

.footer-right>img:last-child {
    width: 5vw;
}

.footer-wrap-bottom div ul {
    display: flex;
    position: absolute;
}

.footer-wrap-bottom div:first-child ul {
    top: 30%;
}

.footer-wrap-bottom div:nth-child(2) ul {
    top: 45%;
}

.footer-wrap-bottom div:last-child {
    position: absolute;
    bottom: 8%;
    border-top: 2px solid #fff;
    padding-top: 10px;
}

.footer-wrap-bottom div ul a {
    color: #fff;
    margin-right: 20px;
    font-size: 1.3rem;
}

.footer-wrap-bottom div:nth-child(2) ul a {
    font-size: 1.2rem;
}

@keyframes footer-ani {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(0);
    }
}