.ticket-wrap {
    /* min-width: 100%; */
    /* margin-top: 200px; */
    max-width: 100%;
}

.ticket-wrap-bx {
    /* background: url(../../public/images/main/character/character8.png) no-repeat; */
    object-fit: contain;
    max-width: 1280px;
    /* aspect-ratio: 1/1; */
    /* aspect-ratio: 2/1.42; */
    margin: 0 auto;
    /* background-color: black; */
    display: flex;
    padding: 20px;
}
.ticket-wrap-bx>div{
    flex: 1;
    max-width: 100%;
}
/* 티켓 메인 이미지 */
.ticket-main-img{
    position: relative;
    max-width: 100%;
    /* padding: 50px; */
}
.ticket-main-img>img{
    /* border: 20px solid black; */
    margin-right: 25px;
    max-width: 100%;
    aspect-ratio: 1/1;
}
.ticket-main-img>span{
    font-size: 2vw;
    position: absolute;
    display: block;
    transform: rotate(90deg);
    left: -20%;
    top: 25%;
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 10px;
    border: 5px solid #524a37;
    box-sizing: border-box;
}



/* 티켓 메인 정보 */
.ticket-main-cont {
    margin-top: 30px;
    /* padding: 30px; */
    /* background: url(../../public/images/main/character/character4.png) no-repeat; */
    /* backmax-width: 600px; */
}
.ticket-main-cont > h1 {
    margin-bottom: 30px;
}
.ticket-main-cont > h1::after {
    display: block;
    content: '';
    background-color: #ccc;
    height: 3px;
    width: 100%;
    margin-top: 5px;
}

.ticket-main-cont > h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* 티켓정보 */
.ticket-info-bx {
    display: flex;
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    flex-wrap: wrap;
    /* background: url(../../public/images/main/character/character4.png) no-repeat; */
}
.ticket-info-bx > div {
    width: calc((100% - 84px) / 3);
    /* outline: 1px solid blue; */
    box-sizing: border-box;
    padding: 30px 50px;
    margin: 10px;
    border-radius: 25px;
}

.ticket-info-bx > div > span {
    display: block;
    font-size: 1vw;
}
.ticket-info-bx > div > span:first-child {
    font-size: 4vw;
    margin-bottom: 25px;
}

.ticket-info-bx > div:first-child span:first-child{
    color: #524a37;
}
.ticket-info-bx > div:first-child {
    border: 2px solid #524a37;
}
.ticket-info-bx > div:nth-child(2) span:first-child{
    color: #281a78;
}
.ticket-info-bx > div:nth-child(2) {
    border: 2px solid #281a78;
}
.ticket-info-bx > div:nth-child(3) span:first-child{
    color:#05fa46;
}
.ticket-info-bx > div:nth-child(3) {
    border: 2px solid #05fa46;
}
.ticket-info-bx > div:nth-child(4) span:first-child{
    color:#f77c00;
}
.ticket-info-bx > div:nth-child(4) {
    border: 2px solid #f77c00;
}
.ticket-info-bx > div:nth-child(5) span:first-child{
    color:#f7eb05;
}
.ticket-info-bx > div:nth-child(5) {
    border: 2px solid #f7eb05;
}
.ticket-info-bx > div:last-child span:first-child{
    color:#fa0525;
}
.ticket-info-bx > div:last-child {
    border: 2px solid #fa0525;
}

/* 티켓 구입 문의 */
.ticket-purchase-inquiry{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
}
.ticket-inquiry-img{
    max-width: 640px;
    position: relative;
    margin: 0 auto;
}
.ticket-inquiry-img>img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    text-align: center;
}

.ticket-inquiry-cont{
    width: 90%;
    margin: 30px auto 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* .ticket-inquiry-cont>h1{
    margin-bottom: 20px;
} */
.ticket-inquiry-cont>p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.ticket-inquiry-cont>img{
    display: block;
    margin: 0 auto;
    max-width: 210px;
}

/* 티켓 옵션 박스 A시즌~C시즌 */
.ticket-option-wrap{
    max-width: 1280px;
    margin: 80px auto;

}
.ticket-option-bx-wrap{
    width: 100%;
    display: flex;
    flex: 1;
}

.ticket-option-bx>h1{
    font-size: 7vw;
}
.ticket-option-bx:first-child>h1{
    color: orangered;
}
.ticket-option-bx:nth-child(2)>h1{
    color:olive;
}
.ticket-option-bx:last-child>h1{
    color: palegoldenrod;
}
.ticket-option-bx>h2{
    font-size: 1.3vw;
    margin-top: 30px;
}

/* 티켓옵션 오버시 */
.ticket-option-bx {
    position: relative;
    width: calc((100% - 50px) / 3);
    text-align: center;
    margin: 10px;
    border: 3px solid black;
    overflow: hidden; /* 내용 넘치게 감춤 */
}

.ticket-option-bx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s ease-out;
}

.ticket-option-bx:hover::before {
    opacity: 0.5;
}

.ticket-option-bx h2 {
    margin-top: 10px;
}

.ticket-option-bx div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    opacity: 0;
    z-index: 1;
    transition: font-weight 0.4s ease-out, opacity 0.4s ease-out;
}

.ticket-option-bx:hover div {
    font-weight: 800;
    opacity: 1;
    color: #fff;
    z-index: 2;
}

/* 티켓 서브 옵션 박스 */
.ticket-suboption-wrap{
    max-width: 1280px;
    margin: 80px auto;
    border: 1px solid #ccc;
}