
/* 티켓 옵션 박스 */
.ticket-suboption-wrap>h1{
    margin: 40px 0;
    font-size: 2.5em;
}
.ticket-suboption-bx{
    display: flex;
}
.ticket-opt-character{
    flex: 1;
    text-align: center;
    margin: 50px 0;
    /* cursor: pointer; */
}

/* 티켓 옵션 박스 폰트어썸 캐릭터 - 노인, 성인, 아이*/
.ticket-opt-character>h1{
    font-size: 8em;
    margin-bottom: 20px;
}
.ticket-opt-character>h2{
    margin-bottom: 10px;
}

/* 티켓 버튼 +, - */
.ticket-price-btn{
    margin: 20px;
}

.ticket-btn{
    margin: 0 10px;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    
}
.ticket-btn:hover{
    color: blue;
}

/* 수량, 총가 */
.ticket-opt-price{
    margin-top: 30px;
    border: 1px solid red;
    display: inline-block;
    margin: 0 auto;
}