/* 유니버설 추천 정보 */
.universal_recommend_info{
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
    /* background-color: aliceblue; */
    
}
.universal_recommend_info>h1{
    text-align: center;
    font-size: 2.5em;
    font-family:'Gugi';
    padding: 30px;

}

.universal_recommend_info table tr{
    padding: 10px;
    margin: 20px;
    font-size: 1.2rem;
    font-family: 'Jua';
}
.universal_recommend_info table td{
    text-align: center;
}
.universal_recommend_info table td>img{
    width: 250px;
    border-radius: 20px;
}

.faCircleCheck{
    font-size: 2.2rem;
    margin-right: 15px;
}

/* .universal_recommend_info_bx{
    display: flex;
}

.universal_recomm_img{
    width: 30%;
}
.universal_recomm_img>img{
    width: 100%;
} */