.weather-bx{
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
    border: 3px solid #073888ff;
    box-shadow: 1px 1px 3px #000;
    padding: 10px;
    background: linear-gradient(45deg,#7cacf8ff, #ecf3feff, #7cacf8ff, #ecf3feff);
    font-family: 'Gugi';
    border-radius: 5px;
}

.weather-bx:hover{
    background: linear-gradient(45deg,#f44336, #ffebee, #f44336, #ffebee );
    border: 3px solid #b71c1c;
}

.weather-bx>h4{
    font-size: 1.7rem;
    margin: 10px;
}

.weather-bx>h5{
    font-size: 1.5rem;
}

.weather-bx>img{
    width: 80px;
    aspect-ratio: 1/1;
}

.weather-bx>p{
    font-size: 1.3rem;
}