@charset "utf-8";
body{
    /* background-color: #F2F2F2;; */
}
body *{
    outline: 1px solid red;
}
/* 헤더 */
.header{
    width: 100%;
    background-color:#fff;
}
.page-header{
    height: 170px;
}
.header-img{
    width: 100%;
    display: flex;
}

/* 스튜디오 설명박스 */
.studio-explanation-wrap{
    width: 30%;
    height: 100vh;
    position: relative;
    background-color: #000;
}
.studio-explanation-wrap>p{
    font-size: 7vw;
    z-index: 1;
    position: absolute;
    top: 15%;
    flood-color: #43494b;
    left: 2%;
    width: 800px;
    color: #fff;
}
.studio-explanation span{
    position: absolute;
    z-index: 1;
    font-size: 1.5vw;
}
.studio-explanation span:first-child{
    display: block;
    bottom: 20%;
    right: 0;
}

.studio-explanation span:last-child{
    position: absolute;
    margin-top: 5%;
    bottom: 5%;
    padding: 20px;
    border-radius: 50%;
    background-color: #d3d7db;
    right: 10%;
} 

/* 헤더 이미지 랩핑 */
.header-img-wrap{
    width: 70%;
    position: relative;
    height: 100vh;
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
.header-img-wrap>img:first-child{
    display: block;
    background-image: linear-gradient(to right, #fefeb8, #77cdd4);
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-img-wrap>img:first-child:hover{
    background-color: #F2F2F2;
}
.header-img-wrap>img:nth-child(2){
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
}
.header-img-wrap>img:last-child{
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 0;
}
/* 메인 */
.main{
    width: 100%;
}

.main section{
    max-width: 1300px;
    margin: 0 auto;
}
.main-visual-img::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color:  #ccc;
    position: absolute;
    top: -7%;
    left: -3%;
}
.main-visual-img{
    position: relative;
    max-width: 1450px;
    margin: 0 auto;
    height: 550px;
    /* background-image: linear-gradient(to top, #d2e1b6,#e3e3c4); */
}
.main-visual-img>img{
    width: 6vw;
    height: 11vh;
    position: absolute;
    left: 28%;
    bottom: 40%;
    display: block;
}
.main-visual-img>p{
    position: absolute;
    width: 30%;
    left: 3%;
    bottom: 15%;
    padding-top: 15px;
    border-top: 2px solid #d4d3ce;;
}

.main-visual-img>img::before{
    content: '';
    display: block;
    /* 앱솔루트 사방채우기 */
    background-color: #000;
    opacity: 0.5;
    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out;
}


.main-img{
    position: absolute;
    right: 2%;
    width: 60%;
    display: block;
    height: 500px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    display: flex;
    column-gap: 4%;
    
}
.main-img>img{
    width: 50%;
    height: 100%;
    background-color: #000;
    /* filter: grayscale(100%); */
    transition: all .4s ease-in-out;
    display: block;
    border-radius: 35px;
    overflow: hidden;

}
.main-img>img:hover{
    transform: scale(1.05);
    filter: none;
    opacity: 0.8;
}
.main-visual-img:hover{
    /* background-color: #d2eceec9; */
    /* background-color: #ccc; */
}
.ghibli-explanation{
    position: relative;
    left: 2%;
    color: #655a5a;
    font-size: 3vw;
    font-weight: 400;
    top: 25%;
    transform: translateY(-30%);
    max-width: 45%;
    /* background-color: #ccc; */
}
.ghibli-explanation::after, .ghibli-explanation::before{
    content: '';
    display: block;
    width: 70%;
    height: 3vh;
    border-radius: 5px;
    background-color:  #eedfd2;
    /* background-color: aliceblue; */
    margin: 15px;
}
