@charset "utf-8";
body{
    /* background-color: #F2F2F2;; */
}
body *{
    /* outline: 1px solid red; */
}
/* 헤더 */
.header{
    width: 100%;
    background-color:#fff;
}
.page-header{
    height: 170px;
}
.header-img{
    width: 100%;
}

a{
    color: #000;
}


/* 헤더 nav */
.main-logo{
    width: 13vw;
    height: 8vw;
    position: absolute;
    top: 2%;
    left: 2%;
}
.main-logo img{
    width: 100%;
    height: 100%;
    animation: logo-ani .8s linear infinite alternate;
}
@keyframes logo-ani {
    from{
        transform: rotate(15deg);
    }
    to{
        transform: rotate(-15deg);
    }
}
.header-img nav{
    position: absolute;
    top: 5%;
    right: 0;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
}
.header-img nav ul{
    display: flex;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px 0;
}
.header-img nav ul li{
    flex: 1;
    text-align: center;
}
.header-img nav ul li a{
    font-size: 1.9vw;
    font-family:'Jua', sans-serif;
    line-height: 1;
}

/* 헤더 이미지 랩핑 */
.header-img-wrap{
    width: 100%;
    position: relative;
    height: 100vh;
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: #000000e7;
}
.header-main-img-wrap{
    height: 100%;
    transform: translate(0%, -50%);
    opacity: 0;
    transition: .4s ease-out;
}
.header-main-img-wrap.on{
    transform: translate(0,0);
    opacity: 1;
}
.header-main-img{
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), 
                        linear-gradient(rgba(0, 18, 70, .7), rgba(0, 18, 70, .7)),  
                        url(../images/universal_main3.webp);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-content>span{
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family:'Jua', sans-serif;
}
/* .header-content::before{
    content: '';
    display: block;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #b69f8f;
} */
.header-content>span:first-of-type{
    font-size: 2.5vw;
    top: 25%;
    text-align: center;
}
.header-content>span:last-of-type{
    font-size: 5vw; 
    top: 35%;
    text-align: center;
}
.header-content>span:last-of-type::after{
    content: '';
    display: block;
    margin-top: 20px;
    width: 50vw;
    height: 2px;
    background-color: #b69f8f;
}
.universal_link{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease-out;
    box-sizing: border-box;
    border: 3px solid #fff;
}
.universal_link a{
    font-size: 2vw;
    color: #193175;
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Gowun Batang', serif;
    font-weight: 600;
}
.universal_link:hover{
    background-color: #193175;
}
.universal_link:hover a{
    color: #fff;
}

/* 헤더 - sns계정 */
.universal_sns{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 1%;
    width: 4vw;
    height: 35vh;
    background-color: #ebe3de;
    border-radius: 30px;
    border: 8px solid #fff;
}
.universal_sns:hover{
    border: 8px solid #000;
}
.universal_sns>div{
    height: calc(100%/4);
}
.universal_sns .fa-brands{
    font-size: 3vw;
    display: block;
    text-align: center;
    line-height: 1.5;
    
}
.fa-square-instagram:hover{
    color: #ce4c68;
}
.fa-square-facebook:hover{
    color: #1878f3;
}
.fa-square-twitter:hover{
    color: skyblue;
}
.fa-youtube:hover{
    color: #fe0000;
}
/* 메인1 */
/* 메인1 - 유틸리티 패널*/
.utility-panel{
    display: flex;
    border-top: 5px solid #2b4584;
    border-bottom: 5px solid #2b4584;
    margin: 0.8% 0;
}
.utility-panel>a>div{
    padding: 20px;
    transition: .4s ease-out;
}
.utility-panel>a{
    flex: 1;
    text-align: center;
    overflow: hidden;
    display: block;
}
.utility-panel>a>div>span{
    display: block;
    color: #2b4584;
}
.utility-panel>a>div>span:first-child{
    font-size: 5em;
    padding-bottom: 10px;
}
.utility-panel>a>div>span:last-child{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.utility-panel>a>div:hover{
    transform: scale(1.1);
    background-color: #2b4584;
}
.utility-panel>a>div:hover span{
    color: #fff;
}

/* 메인1 - 움직이는 로고  */
.main1{
    width: 100%;
}
.main-move-img{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 29.2vh;
}
.move-img-logo1{
    background: url(../images/universal_logo.webp) repeat-x;
    height: 100%;
    width: 200%;
    animation: move-img-logo1 7s linear infinite;
    position: absolute;
    left: 0;
}
@keyframes move-img-logo1 {
    to{
        left: -100%;
    }
}

