
/* 역사 */
.history-wrap {
    max-width: 100%;
}

.history-main-bx{
    max-width: 100%;
}

.history-bx-img{
    max-width: 100%;
    position: relative;
}
.history-bx-img>img{
    display: block;
    max-width: 100%;
    aspect-ratio: 3/1;
    position: relative;
}
.history-bx-img>section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.history-bx{
    max-width: 100%;
    margin: 100px;
    border-left: 4px solid #679e63ff;
}
.history-bx>div{
    padding: 20px;
}
.history-bx>div::before{
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid #1d511fff;
    border-radius: 50%;
    transform: translate(-32px, 24px);
    /* transform: translateY(5px); */
    box-sizing: border-box;
}
.history-bx>div::after{
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #4e834bff;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-27px, -32px);
}
.history-bx>div>span{
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 50px 15px 0;
}
.history-bx>div>span::after{
}