/* 상단 */
.top-area-wrap {
    height: 80px;
    position: relative;
}

/* 로고 */
.logo {
    width: 120px;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

.logo>img {
    max-width: 100%;
    aspect-ratio: 3.5/1;
    
}

/* 햄버거 버튼 */
.ham-btn {
    position: absolute;
    top: 0;
    right: 70px;
    cursor: pointer;
    transition: 1s ease-out;
}

.ham-btn>span {
    display: block;
    position: absolute;
    height: 8px;
    width: 50px;
    background-color: black;
}

.ham-btn>span:first-child {
    top: 15px;
    transition: .3s ease-in;
}

.ham-btn>span:nth-child(2) {
    top: 35px;
    transform: translateX(-20px);
    transition: .3s ease-in;
}

.ham-btn>span:last-child {
    top: 55px;
    transition: .2s ease-in;
}

.ham-btn:hover span:nth-child(2) {
    transform: translateX(0);
    transition: .2s ease-in;
}

.ham-btn.on span:first-child{
    top: 35px;
    transform: rotate(45deg);
    width: 60px;
}
.ham-btn.on span:nth-child(2){
    display: none;
}
.ham-btn.on span:last-child{
    top: 35px;
    transform: rotate(-45deg);
    width: 60px;
}

/* 햄버거 창 */
.ham-nav-bx{
    position: fixed;
    right: -200%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    outline: 1px solid red;
    z-index: 1;
    transition: 1s ease-out;
    text-align: start;
    text-indent: 50px;
}

.ham-nav-bx.on {
    /* display: block; */
    top: 80px;
    right: 0%;
    transition: 1s ease-out;
}


/* 메뉴 li */
.footer-li{
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 15px 5px;
}
.footer-li a{
    font-size: 2rem;
}
.smenu span{
    font-size: 1.2rem;
}
.smenu ol{
    display: flex;
}