/* 서비스 내용 */
.service-cont-wrap{
    max-width: 100%;
}
.service-cont{
    max-width: 1300px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.service-cont-bx{
    margin: 10px;
    padding: 15px;
    width: calc((100% - 40px) / 3);
    margin: 0 10px;
    /* border: 2px solid #555; */
    border-radius: 5px;
    display: flex; 
    /* 내부의 요소들을 세로 방향으로 배치하기 위해 */
    flex-direction: column; 
}

.service-cont-bx h2{
    text-align: center;
    padding: 10px;
    background-color: #073888ff;
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Nanum Gothic Coding';
    font-size: 1.7rem;
}

.service-cont-img{
    max-width: 100%;
}
.service-cont-img>img{
    width: 100%;
    aspect-ratio: 1.5/1;
}

.service-cont-bx p{
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Poor Stroy';
    margin: 10px 5px;
}

.service-cont-bx button{
    font-size: 1rem;
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    /* 버튼을 수평으로 중앙에 정렬하기 위해 */
    align-self: center; 
    color: #fff;
    background: linear-gradient(#5ab3f0ff, #005789ff);
    border: 2px solid #000;
    cursor: pointer;
}
.service-cont-bx button:hover{
    background: #fff;
    color: #005789ff;
}

.button-link {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

/* 인재상 */
.ideal-talent-wrap{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}
.ideal-talent-img{
    max-width: 300px;
}
.ideal-talent-img img{
    width: 100%;
    aspect-ratio: 1/1;
    animation: ideal-talent-ani 15s linear infinite;
}

@keyframes ideal-talent-ani {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* footer */
.footer-wrap{
    max-width: 100%;
    background-color: #000;
}
.footer{
    max-width: 1300px;
    margin: 0 auto;
    color: #fff;
}
/* .footer-logo{
    max-width: 350px;
    margin: 0 auto;
}
.footer-logo img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
} */
.footer h1{
    font-size: 5rem;
    text-align: center;
}
.footer p{
    text-align: center;
}
.footer h2{
    text-align: center;
}
.footer h2:nth-of-type(1){
    color: #1b6ef3ff;
    font-size: 3rem;
}