/* 메인 */
.main-visual {
    position: relative;
    margin-bottom: 70px;
}

.main-visual-img {
    max-width: 100%;
    /* aspect-ratio로 인해 height를 0으로 설정 */
    height: 0;
    /* aspect-ratio 2:1에 따라 50%로 설정 */
    padding-bottom: 42%;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        linear-gradient(rgba(0, 18, 70, .2), rgba(0, 18, 70, .2)),
        url('../../public/images/main/main_visual.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-visual-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

.main-visual-sec h2 {
    color: #fff;
    opacity: 0.5;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.main-visual-sec h1 {
    color: #fff;
    font-size: 5rem;
    text-shadow: 1px 1px 3px #000;
}
.main-visual p{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    width: 100%;
    padding: 10px;
}

/* 메인테크 */
.main-tech-wrap{
    max-width: 1350px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-tech-img{
    /* margin: 0 auto; */
    width: 60%;
}
.main-tech-img>img{
    max-width:100%;
    aspect-ratio: 1.5/1;
    filter: grayscale(1);
}
.main-tech-vision{
    width: 35%;
}
.main-tech-vision h3:first-of-type::before{
    content: '';
    display: block;
    background-color: #303f2dff;
    width: 100%;
    height: 1.5px;
    margin-bottom: 15px;
    opacity: 0.7;
}
.main-tech-vision h3{
    color: #50b947;
    margin: 50px 10px 20px 0;
}

/* 메인 비주얼 */
/* 메인 비주얼1 */
.main_visual01 {
    position: relative;
    max-width: 100%;
    margin-bottom: 80px;
}

.main_visual_img {
    background: url(../../public/images/main/main_visual02.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 50vh;
    display: block;
}

.main_visual_cont {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: whitesmoke;
    text-align: center;
}

.main_visual_cont h1 {
    font-size: 4.5rem;
    margin: 30px;
    text-shadow: 2px 2px 5px #000;
}

.main_visual_cont h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000;
}
/* 한눈에 */
.at-a-glance-wrap{
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        linear-gradient(rgba(15, 69, 21, 0.3), rgba(15, 69, 21, 0.3)),url(../../public/images/main/virus.jpg) no-repeat center/cover;
    aspect-ratio: 3/1;
    background-position: center;
    background-attachment: fixed;
    margin-top: 70px;
}
.at-a-glance-wrap>h3{
    padding: 60px 0 35px;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    font-size: 5rem;
}
.at-a-glance-div{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.at-a-glance-bx{
    border: 3px solid #fff;
    flex: 1;
    color: whitesmoke;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    aspect-ratio: 1.3/1;
}
.at-a-glance-bx h1{
    color: whitesmoke;
    font-size: 3.5rem;
    margin: 10px;
}
.at-a-glance-bx h3{
    margin: 10px;
    font-size: 1.2rem;
}
.at-a-glance-bx h4{
    font-size: 1rem;
}
/* 서비스 내용 */
.service-cont-wrap {
    max-width: 100%;
    padding: 100px 0 50px;
    position: relative;
    background-color: #fff;
    aspect-ratio: 1.6/1;
}

.service-cont-main-img{
    max-width: 1280px;
    margin: 0 auto;
    background:  linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        linear-gradient(rgba(15, 69, 21, 0.2), rgba(15, 69, 21, 0.2)),url(../../public/images/main/bio-bg.jpg) no-repeat;
    position: relative;
    aspect-ratio: 2/1;
    /* margin-bottom: 500px; */
}
.service-cont-main-img section{
    width: 800px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.service-cont-main-img section h2{
    color: #fff;
    font-size: 4rem;
    margin-bottom: 50px;
    font-family: 'Gugi';
}
.service-cont-main-img section p{
    color: whitesmoke;
    font-size: 1.5rem;
}
.service-cont {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateX(-50%);
    top: 45%;
    left: 50%;
}

.service-cont-bx {
    margin: 10px;
    flex: 1;
    border-radius: 5px;

}

.service-cont-bx h2 {
    text-align: center;
    padding: 10px;
    background-color: #303f2dff;
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Nanum Gothic Coding';
    font-size: 1.7rem;
}

.service-cont-bx h2 span {
    display: block;
}

.service-cont-img {
    max-width: 100%;
}

.service-cont-img>img {
    width: 100%;
    aspect-ratio: 1.2/1;
}

.service-cont-bx p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Poor Stroy';
    margin: 10px 5px;
    padding: 10px;
}

/* 셀트리온 글자 */
.fbx{
    /* position: absolute; */
    position: relative;
    /* overflow: hidden; */
    width: 100vw;
}
.fx1>.fbx{
    top: 0;
    position: absolute;
}
.fx2>.fbx{
    bottom: 0;
    position: absolute;
}
.tbx{
    display: flex;
    position: relative;
    width: 200vw;
}
.tbx ul{
    display: flex;
}

.tbx ul li{
    font-size: 4vw;
    margin-left: 15px;
    font-family: 'Gugi';
    color: #555;
}
.tbx ul li:nth-child(2n){
    color: green;
}
/* 역사 */
.history-wrap {
    max-width: 100%;
}

.history-top {
    margin-bottom: 150px;
}

.history-top>p {
    text-align: center;
    font-family: 'Jua';
    font-size: 1.5rem;
}

.history-top>p::after {
    content: '';
    width: 95%;
    display: block;
    margin: 5px auto 10px;
    height: 3px;
    background-color: #6b7c67ff;
}

.history-top>h1 {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
}

.green-div {
    width: 100%;
    height: 30vh;
    background: linear-gradient(90deg, #fff, rgb(112 181 115), #475743ff);
    position: relative;
    margin-left: auto;
}

.history-img-bx {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.history-cont-bx {
    width: 40%;
    border-left: 1px solid #475743ff;
    transform: translateX(25px);
}

.history-cont {
    max-width: 100%;
    padding-left: 20px;
    margin-bottom: 13px;
    position: relative;
}

.history-cont h1::before {
    content: '';
    display: block;
    transform: translateX(-31px);
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgb(112 181 115);
    box-sizing: border-box;
}

.history-cont h1::after {
    position: absolute;
    top: 5px;
    left: 15px;
    content: '';
    display: block;
    transform: translateX(-21px);
    background-color: rgb(112 181 115);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.history-cont h1 {
    color: #002023ff;
    font-size: 1.2rem;
}

.history-cont p {
    line-height: 1.6;
    text-align: justify;
    font-size: 0.85rem;
}

.history-img {
    width: 50%;
}

.history-img img {
    max-width: 100%;
    aspect-ratio: 1.3/1;
}


/* 인재상 */
.business-cont-wrap {
    max-width: 1300px;
    margin: 0 auto;
}

.business-explain-bx {
    display: flex;
    margin: 60px 0 100px;
    justify-content: space-between;
}

.business-explain-txt {
    font-size: 2.2rem;
    color: #50b947;
    width: 15%;
}

.business-explain-bx h2 {
    width: 80%;
    font-size: 1.5rem;
    font-weight: normal;
}

.business-explain-txt::before {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background-color: #50b947;
}

/* 비즈니스 관점 */
.bio-talent-div {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.business-value-tit {
    font-size: 2.2rem;
    color: #50b947;
    width: 15%;
}

.business-value-tit::before {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background-color: #50b947;
}

.business-value-bx {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}

.bio-talent-bx {
    text-align: center;
    width: 42%;
    margin: 30px;
    display: flex;
}

.bio-talent-bx h2 {
    font-size: 2rem;

}

.bio-talent-bx h1 {
    font-size: 4rem;
    margin-right: 10px;
    color: #555;
}

.bio-talent-bx p {
    font-size: 1.5rem;
    font-weight: 800;
}

.bio-talent-bx p:last-child {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: normal;
}

/* .bio-talent-img{
    width: 100px;
    margin: 0 auto;
}
.bio-talent-img img{
    width: 100%;
    aspect-ratio: 1/1;
} */
.bio-talent-txt {
    margin: 0 10px;
}

/* 보도자료 */
.contact-us-wrap{
    max-width: 100%;
    margin-top: 80px;
}
.contact-news-img-wrap{
    max-width: 100%;
    position: relative;
}
.contact-news-img-wrap>img{
    position: relative;
    max-width: 100%;
    aspect-ratio: 5/1;
}
.contact-news-img-wrap>section{
    position: absolute;
    top: 50%;
    left:50px;
    transform: translateY(-50%);
}
.contact-news-img-wrap>section>h2{
    font-size: 4.5rem;
    margin-bottom: 20px;
}
.contact-news-img-wrap>section>p{
    font-size: 1.6rem;
}
.contact-news-cont{
    max-width: 1280px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}
.contact-news-main-img{
    width: 40%;
    margin-right: 25px;
}
.contact-news-main-img>div{
    max-width: 100%;
    aspect-ratio: 1.2/1;
    background:  linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    linear-gradient(rgba(15, 69, 21, 0.3), rgba(15, 69, 21, 0.3)),url(../../public/images/main/contact/laboratory.jpg);
    position: relative;
}
.contact-news-main-imgs-sec{
    color: #fff;
}
.contact-news-main-imgs-sec h3{
    position: absolute;
    top: 0;
    width: 100px;
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.contact-news-main-imgs-sec h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    
}
.contact-news-main-imgs-sec h4{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-news-board{
    width: 55%;
}
.contact-news-more{
    padding: 15px;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
}
.contact-news-more>span{
    font-size: 2rem;
    font-family: 'Gugi';
    font-weight: 800;
}
.contact-news-more>button{
    display: inline-block;
    float: right;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 1.1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.contact-news-litte-bx{
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.contact-news-litte-bx>span:first-child{
    font-size: 1.2rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    margin-right: 10px;
}
.contact-news-litte-bx>span:last-child{
    font-size: 15px;
    display: block;
}
/* footer */
.footer-wrap {
    max-width: 100%;
    /* background-color: #baccb3ff; */
}

.footer {
    max-width: 1300px;
    margin: 0 auto;
    color: black;
    padding: 50px;
}

.footer h1 {
    font-size: 5rem;
    text-align: center;
}

.footer p {
    text-align: center;
    margin: 20px 0;
}

.footer h2:nth-of-type(1) {
    color: #000;
    font-size: 3rem;
}

.footer-area-nav ul{
    display: flex;
}
.footer-area-nav ul li{
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
}
