.shop-wrap{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.shop-bx{
    flex-basis: 22%;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    
}
.shop-bx-img{
    width: 100%;
    background-color: #f6f6f6;
    display: block;
    border-radius: 8px;
}
.shop-bx-img>img{
    width: 100%;
    aspect-ratio: 1/1;
}
.shop-bx>section{
    padding: 10px;
}

.shop-cont-top{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
.shop-cont-top p{
    font-size: 0.9rem;
    display: inline-block;
}
.shop-cont-top p:first-child{
    color: gray;
    font-weight: 800;
}

.shop-cont-top p:last-child{
    padding: 5px 10px;
    font-size: 0.7rem;
    color: #fff;
    border-radius: 5px;
}

.shop-cont-middle{
    font-size: 1rem;
    margin: 10px 0;
}

.shop-cont-foot{
    display: flex;
    justify-content: space-between;
}
.shop-cont-foot p{
    display: inline-block;
    flex: 1;
}

.shop-cont-foot p:first-child{
    color: #ccc;
}