.seasonal_menu_wrap{
    width: 100%;
    background-color: #232025;
}

.seasonal_menu_bx{
    width: 90%;
    margin: 0 auto;
}

/* 시즈널 메뉴 타이틀 */
.seasonal_menu_tit{
    color: gainsboro;
}

.seasonal_menu_tit div{
    width: 100%;
    border: 1px dashed gainsboro;
    margin: 15px 0;
}

/* 시즈널 각 메뉴들을 설정함 */
.menu_block{
    display: flex;
    /* position: relative; */
}

.menu_block>span, .menu_block>div{
    flex: 1;
}

.menu_block span{
    display: block;
    color: whitesmoke;
    font-family: 'Jua', sans-serif;
}

.menu_block>span:nth-of-type(1){
    font-size: 1.2em;
    width: 50px;
    outline: 1px solid red;
    line-height: 48px;
}
.menu_block>div>span{
    font-size: 35px;
    outline: 1px solid red;
}
.fa-square-up-right{
    width: 100%;
    color: whitesmoke;
    font-size: 48px;
    outline: 1px solid red;
    text-align: right;
}