@charset "utf-8";
/* 레스토랑 */
.seasonal_restaurant_wrap{
    max-width: 100%;
}
.seasonal_restaurant_bx{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.seasonal_restaurant_bx>div{
    /* flex: 1; */
    height: 300px;
}

.restaurant_total_main_img{
    background: url(../images/seasonal/food1.png) no-repeat center/cover;
    display: block;
    aspect-ratio: 2/1;
    border-radius: 35px;
    border: 2px solid skyblue;
    box-sizing: border-box;
}

/* 레스토랑 로고 */
.restaurant_logo1{
    background:url(../images/seasonal/seasonal1.jpg) no-repeat center/cover;
}
.restaurant_logo{
    width: 20vw;
    height: 20vw;
}

.restaurant_img1{
    background: url(../images/seasonal/seasonal1-main.jpg);
}

.restaurant_img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    width: 100%;
    height: 35vh;
}


.seasonal_restaurant_bx{
    height: 300vh;
}

.restaurant_img_wrap{
    width: 100%;
}
