@charset "utf-8";
/* 레스토랑 */
.seasonal_restaurant_wrap{
    max-width: 100%;
}
.seasonal_restaurant_bx{
    /* flex-wrap: wrap; */
    margin: 30px auto;
}
.restaurant_total_main_img{
    /* max-width: 50vw; */
    /* max-width: 50%; */
    position: relative;
    overflow: hidden;
}
.restaurant_total_main_img>.main3{
    position: absolute;
    top: 0;
    z-index: -1;
    /* transform: rotate(5deg); */
}
.restaurant_total_main_img .logo-span-wrap li{
    font-size: 8vw;
}
.restaurant_total_main_img>img{
    border-radius: 70px;
    box-sizing: border-box;
    aspect-ratio: 0.7/0.3;
    max-width: 50vw;
    height: 50vh;
    margin: 0 auto;
    display: block;
}

/* 레스토랑 로그 + 컨텍츠 박스 wrap */
.restaurant_explanation{
    display: flex;
    /* padding: 2%; */
    position: relative;
    background-color: #f9f9f9;
    padding: 65px;
}
.restaurant_explanation>div{
    /* flex: 1; */
}
.restaurant_content_wrap{
}
/* restaurant_content_wrap - 컨텐츠 내용들*/
.restaurant_content_wrap>span:nth-of-type(1){
    background-color: #f08400;
    display: inline-block;
    padding: 4px 7px;
    border-radius: 20px;
    color: #fff;
}
.restaurant_content_wrap>h1{
    font-size: 2.5em;
    font-weight: 800;
}
.restaurant_content_wrap>div>span{
    display: block;
}
/* 레스토랑 로고 */
.restaurant_logo1{
    background:url(../images/seasonal/seasonal1.jpg) no-repeat center/cover;
}
.restaurant_logo{
    position: absolute;
    top: -50%;
    transform: translateY(50%);
    left: 5%;
    width: 153px;
    height: 153px;
    border-radius: 50%;
    object-fit: cover;
}

/* 레스토랑 빌딩 이미지 */
.restaurant_building_img{
    outline: 1px solid black;
    margin-top: 30px;
}
.restaurant_img1{
    background: url(../images/seasonal/seasonal1-main.jpg);
}

.restaurant_img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    width: 100%;
    height: 35vh;
}

/* 레스토랑 주의사항 */
.restaurant_caution{
    padding: 20px;
    font-size: 15px;
}
.restaurant_method{
    padding: 10px 0;
}
.restaurant_method>div{
    padding: 5px 0;
}
/* .restaurant_method>div>i{
    color: midnightblue;
}
.restaurant_method>div>span:first-of-type{
    background-color: aliceblue;
    padding: 5px;
    color: #f9f9f9;
    border-radius: 20px;
} */
/* .restaurant_method>div>span:last-of-type{
    color: grey;
} */
.seasonal_restaurant_bx{
    /* height: 300vh; */
}


/* 레스토랑 메인 - 컨텐츠 */
.restaurant_main_content_wrap{
    max-width: 100%;
}

.seasonal_restaurant_product{
    padding: 45px;
}
.product_detail{
    padding: 10px 0 50px 0;
    text-align: center;
}
.product_detail>h1{
    padding: 15px;
}

/* 레스토랑 메인 - 컨텐츠 (픽업 메뉴 정보) */
.restaurant_pickup_info{
    padding: 20px;                                
    text-align: center;
}

.restaurant_pickup_info>h2{
    padding: 5px 0 30px 0;
}

.menu_pickup_info_wrap{
    max-width: 100%;
    height: 268px;
    /* outline: 1px solid red; */
    display: flex;
    flex: 1;
    justify-content: center;
    
}

/* 픽업메뉴&&추천메뉴 */
.menu_pickup_info{
    max-width: 220px;
    height: 268px;
    margin-right: 32px;
    outline: 1px solid gainsboro;
    border-radius: 25px;
}

/* 픽업메뉴 -이미지 */
.menu_pick_img{
    width: 100%;
    height: 8.6875rem;
}
.menu_pick_img>img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* 픽업메뉴 - 설명 */
.menu_pickup_detail{
    max-width: 100%;
    height: calc(100% -8.6875rem );
    padding: 20px;
    /* outline: 1px solid darkblue; */
}
.menu_pickup_detail>h3{
    font-size: 0.75rem;
}
.menu_pickup_detail>p{
    font-size: 0.9em;
}
.menu_pickup_ingredient{
    font-size: 0.6em;
}

/* 레스토랑 하단 대표 이미지 */
.restaurant_bg_wrap{
    max-width: 100%;
}
.restaurant_bg_img{
    width: 100%;
}
.restaurant_bg_img>img{
    /* height: 500px; */
    aspect-ratio: 2/1.3;
    width: 60vw;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

/* 레스토랑 위치 */
.restaurant_map_wrap{
    max-width: 100%;
}
.restaurant_map_bx{
    max-width: 70vw;
    outline: 1px solid red;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.restaurant_map_bx>h1{
    text-align: center;
    padding: 20px;
}
.restaurant_map{
    width: 95%;
    margin: 0 auto;
    outline: 1px solid gainsboro;
    border-radius: 20px;
    
}
.restaurant_map_img{
    width: 100%;
}
.restaurant_map_img>img{
    width: 100%;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* margin: 0 auto; */
}

/* 레스토랑 맵 하단 설명 */
.restaurant_map_content{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.restaurant_map_content>div>span{
    display: block;
    padding: 5px;
    color: darkblue;
}
.restaurant_map_content>div>span:first-child{
    color: #000;
}

/* 레스토랑 맵 로고 */
.restaurant_map_logo{
    width: 100px;
    height: 100px;
}
.restaurant_map_logo>img{
    display: block;
    width: 100%;
    height: 100%;
}
@media screen and (max-width : 600px) {
    body>* {
        overflow-x: hidden;
    }
    .seasonal_restaurant_bx>div{
        height: auto;
    }
    .restaurant_img{
        aspect-ratio: 2/1;
    }
    .restaurant_total_main_img>img{
        /* width: 100vw; */
        height: auto;
    }
}