/* LoadingPage.css 파일 내용 */
.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    /* 초기에는 보이지 않도록 설정 */
}

.visible {
    opacity: 1;
    /* 나타날 때 opacity 조절 */
}

.hidden {
    display: none;
    /* 숨길 때 display 조절 */
}

/* 애니메이션 효과 설정 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 글자 나타나는 효과 설정 */
.loading-page span {
    animation: fadeIn 0.5s ease-in-out;
}