/* YourSlider.css */

.your-slider-container {
    width: 100vw;
    overflow: hidden;
}

.your-slider {
    display: flex;
    width: 700vw;
    /* 모든 이미지의 너비를 7배로 설정 (이 부분을 이미지 개수에 맞게 조절하세요) */
    transition: transform 2s ease-in-out;
}

.your-slider img {
    width: 100vw;
    height: auto;
}