@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang&family=Gugi&family=Jua&display=swap&family=Nanum+Gothic&display=swap?family=Gasoek+One&display=swap?family=Black+Han+Sans&&display=swap?family=Nanum+Gothic+Coding&display=swap");
body {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="lightblue" stroke="black" stroke-width="2"><circle cx="12" cy="12" r="10"/></svg>'), auto;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
ol,
ul,
p,
li
span {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover{
    color: #000;
}

.color-change{
    color: #000;
}

body>*, div{
    /* border: 1px solid red;
    box-sizing: border-box; */
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; */
    /* top: 0; */
}

nav{
    width: 25%;
}

nav ul li{
    font-size: 4rem;
    
}
.header-nav{
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.header-nav li{
    line-height: 2;
}
.header-nav li a{
    font-family: 'Black Han Sans';
}
.header-bg-wrap{
    max-width: 820px;
    margin: 0 auto; 
}

.header-bg-wrap>div{
    text-align:  center;
}
.header-bg-wrap>div:first-child{
    margin-bottom: 20px;
}
.header-bg>img{
    width: 100%;
    aspect-ratio: 2/1;
}


/* 페이지 구성 공통 */
.introduce-wrap, .project1-wrap, .project2-wrap{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 25%;
}
.right{
    width: 72%;
}
.introduce-cont h1, .project1-bx h1, .project2-bx h1{
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Black Han Sans';
}

.introduce-cont h1::after,
.project1-bx h1::after,
.project2-bx h1::after{
    content: '';
    display: block;
    width: 85%;
    height: 8px;
    background-color: #f5cb07;
}
.fa-circle-check{
    color: #f5cb07;
    font-weight: bold;
}

.introduce-cont,
.project1-bx{
    padding-left: 20px;
}

.introduce-wrap .fa-regular,
.project1-bx .fa-regular,
.project2-bx .fa-regular{
    margin-right: 5px;
}

.introduce-bx a,
.project1-bx a,
.project2-bx a{
    color: #000;
}

.introduce-bx a:hover,
.project1-bx a:hover,
.project2-bx a:hover{
    color: blue;
}

.introduce-bx,
.project1-url-bx,
.project2-url-bx{
    margin: 7px 0;
    width: 90%;
}

/* 소개페이지 내용 */
.cont-img{
    max-width: 280px;
}
.cont-img>img{
    width: 100%;
    aspect-ratio: 1/1.2;
}

/* 프로젝트1 */
.project-bx>h2:nth-of-type(2){
    margin: 8px 0;
}
.project1-bx{
    margin: 20px 0;
}
.project1-img{
    max-width: 650px;
    margin: 10px 0;
}
.project1-img>img{
    width: 100%;
    aspect-ratio: 1.5/1;
}
.project-explain-bx{
    padding-left: 20px;
    margin: 5px 0;
}

/* 프로젝트2 */
.project2-bx{
    margin: 20px 0;
}
.project2-img{
    max-width: 650px;
    margin: 10px 0;
}

.project2-img>img{
    width: 100%;
    aspect-ratio: 1.5/1;
}