@media screen and (max-width:1250px) {
    nav ul li {
        font-size: 3.2rem;
    }
    .header-nav li{
        line-height: 1.8;
    }
    .introduce-cont h1, .project1-bx h1, .project2-bx h1, .fa-circle-user, .introduce-wrap .fa-circle-user, .project1-bx .fa-file-code, .project2-bx .fa-file-code {
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1000px) {
    nav ul li {
        font-size: 2.5rem;
    }
    .header-nav li{
        line-height: 2.2;
    }
    .introduce-cont h1, .project1-bx h1, .project2-bx h1, .fa-circle-user, .introduce-wrap .fa-circle-user, .project1-bx .fa-file-code, .project2-bx .fa-file-code {
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:900px) {
    nav{
        display: none;
    }
    .header-bg-wrap{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
        margin: 0 auto;
        /* padding: 10px; */
    }
    
}

@media screen and (max-width:700px) {
    .introduce-cont h1, .project1-bx h1, .project2-bx h1, .fa-circle-user, .introduce-wrap .fa-circle-user, .project1-bx .fa-file-code, .project2-bx .fa-file-code {
        font-size: 1.5rem;
    }
    
    .project1-img,
    .project2-img{
        padding: 0 20px;
    }
    p{
        font-size: 0.95rem;
    }
    .project-explain-bx p{
        padding: 5px 25px;
    }
    .introduce-cont h1::after, .project1-bx h1::after, .project2-bx h1::after {
        width: 95%;
    }
    .header-bg{
        padding: 0 10px;
    }
}

@media screen and (max-width:500px) {
    .cont-img {
        max-width: 220px;
    }
    h2{
        font-size: 1.1rem;
    }
    h3{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.85rem;
    }
    .project-explain-bx p{
        padding: 2px 20px;
    }
    .introduce-cont, .project1-bx, .project2-bx {
        padding-left: 10px;
    }
}